@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    html {
      height: 100%;
      }
      body {
      min-height: 100%;
      background-color: #FFFCF2;
      }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    /* position:fixed; */
    bottom: 0;
    width: 100%;
  }
  

  /*Login Register Buttons*/
 
  .btn-primary {
    cursor: pointer;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: #fab31b;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

  .btn-secondary {
    cursor: pointer;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}


  .media-content h1{
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.media-content .special-line {
  display: inline-block;
  width: 100px; /* Adjust as needed */
  height: 2px;
  background-color: #fff; /* Adjust color as needed */
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  background-color: #FBBE36;
}

.welcome-content p, .welcome-content h3{
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.special-text{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.best-seller{
  font-family: "Barlow", sans-serif;
  font-size: 3.8rem;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 4rem;
}

/* .pizza-card {
  border: solid 1px rgb(153, 153, 153);
} */

.special-shop:hover{
  background-color: #faab00;
  i{
    font-size: xx-large;
  }
}

.line-left{
  display: inline-block;
  width: 400px; /* Adjust as needed */
  height: 2px;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  background-color: #181818;
}

.line-right{
  display: inline-block;
  width: 400px; /* Adjust as needed */
  height: 2px;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  background-color: #181818;
}

.best-img{
  transition: transform .7s ease-in-out;
}
.best-img:hover{
  transform: rotate(5deg);
}

.hero-pizza{
  transition: transform .7s ease-in-out;
}
.hero-pizza:hover{
  transform: rotate(5deg);
}


/*Pemanent marker Font class*/
.marker-font{
  font-family: "Permanent Marker", cursive;
}

/*Burlow Font class*/
.barlow-font{
  font-family:"Barlow", sans-serif;
}

/*Roboto Font class*/
.roboto-font{font-family: "Roboto", sans-serif;}

/*Alpha lab one Font class*/
.alpha-font{
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}