@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    html {
      height: 100%;
      }
      body {
      min-height: 100%;
      background-color: #FFFCF2;
      }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    /* position:fixed; */
    bottom: 0;
    width: 100%;
  }

  .left-image {
    background-image: url('https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148698592.jpg?w=996&t=st=1716787661~exp=1716788261~hmac=92ab6d94dcb33dc0dab20d7a9a7a25675e608d9a7e87d8fe59302001c3d18888');
    background-size:cover;
    background-position: left;
    background-repeat: no-repeat;
    border-top: solid 3px white;
    border-bottom: solid 3px white;; 
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

  }


  .media-content h1{
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.media-content .special-line {
  display: inline-block;
  width: 100px; /* Adjust as needed */
  height: 2px;
  background-color: #fff; /* Adjust color as needed */
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  background-color: #FBBE36;
}

.welcome-content p, .welcome-content h3{
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.special-text{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.best-seller{
  font-family: "Barlow", sans-serif;
  font-size: 3.8rem;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 4rem;
}

/* .pizza-card {
  border: solid 1px rgb(153, 153, 153);
} */

.special-shop:hover{
  background-color: #faab00;
  i{
    font-size: xx-large;
  }
}

.line-left{
  display: inline-block;
  width: 400px; /* Adjust as needed */
  height: 2px;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  background-color: #181818;
}

.line-right{
  display: inline-block;
  width: 400px; /* Adjust as needed */
  height: 2px;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  background-color: #181818;
}

.best-img{
  transition: transform .7s ease-in-out;
}
.best-img:hover{
  transform: rotate(5deg);
}

.hero-pizza{
  transition: transform .7s ease-in-out;
}
.hero-pizza:hover{
  transform: rotate(5deg);
}


/*Pemanent marker Font class*/
.marker-font{
  font-family: "Permanent Marker", cursive;
}

/*Burlow Font class*/
.barlow-font{
  font-family:"Barlow", sans-serif;
}

/*Roboto Font class*/
.roboto-font{font-family: "Roboto", sans-serif;}

/*Alpha lab one Font class*/
.alpha-font{
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}